.form {
  background-image: url("../../images/param-image-left.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  /* background: linear-gradient(
    90deg,
    #413e4083 0%,
    #8383835d 45%,
    #413e4075 90%,
    #413e4070 100%
  ); */
}
.heading {
  color: white;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.inputs {
  margin-top: 5%;
}

.input-name {
  margin: 1%;
  height: 45px;
  width: 50%;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(150, 105, 105);
}
.message {
  height: 150px;
  padding-top: 8px;
}
.submit {
  margin: 1%;
  width: 200px;
  height: 35px;
  font-size: 15px;
  background: linear-gradient(
    90deg,
    #fc3838 0%,
    #fc3838 85%,
    #d88a8a 99.9%,
    #fc3838 100%
  );
  border-radius: 20px;
  border: none;
  color: white;
  transition: width 0.3s, height 0.4s;
}
.submit:hover {
  width: 40%;
  height: 40px;
}
*:focus {
  outline: none;
}
