.edu-section {
  background-color: #e4e0e0;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

/* h2::before {
  content: "";
  border-color: transparent #006699 transparent transparent;
  border-style: solid;
  border-width: var(--fold-size);
  height: 0px;
  width: 0px;
  position: absolute;
  left: calc(-1 * var(--fold-size));
  top: 50%;
  z-index: -10;
} */

/* h2 {
  text-align: center;
  background-color: #006699;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
} */
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 700px;
  width: 520px;
  margin: 3rem 1.2rem;
  position: relative;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 760px) {
  .card {
    width: 88%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
