/* .body {
  height: 110vh;
  background-image: url("../../images/building.jpg");
  background-size: contain;
  background-repeat: no-repeat;
} */
.body {
  background-color: #e4e0e0;
  padding: 5%;
  background: linear-gradient(
    180deg,
    #e4e0e0 0%,
    #e4e0e0 5%,
    rgb(58, 55, 65) 100%
  );
}

.img {
  height: 100%;
}

.slider {
  padding: 15px;
  width: 1000px;
  height: 700px;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 760px) {
  .body {
    padding: 0%;
  }
  .slider {
    height: 100vh;
    width: 95%;
    margin: auto;
  }
}
