.div {
  background-color: #e4e0e0;
}

.intro {
  background: linear-gradient(
    90deg,
    rgb(58, 55, 65) 0%,
    rgb(94, 89, 105) 50%,
    rgb(58, 55, 65) 100%
  );
  clip-path: polygon(0 0, 100% 0, 98% 100%, 80% 89%, 0 100%);
  height: 100vh;
  /* background-color: #e4e0e0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 7rem; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.6rem;
  width: 40%;
  height: 60%;
}
.para {
  font-size: 1.2rem;
}

.profile-image {
  z-index: 1;
  border: white solid 10px;
  border-radius: 250px;
  background-color: white;
  margin: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* .profile-image:hover {
    transform: rotate(360deg) translateX(-100%);
  } */

@media screen and (max-width: 760px) {
  .intro {
    background: url("../../images/param-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 80vh; */
    flex-direction: column;
    clip-path: none;
  }

  .profile-image {
    display: none;
  }
  .intro-text {
    color: white;
    width: 80%;
  }
}

.hi {
  font-size: 1.8;
  color: rgb(255, 255, 255);
}
.button-resume {
  background-color: #d32f2f;
  width: fit-content;
  padding: 10px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  /* font-family: cursive; */
  color: white;
  font-weight: 400;
  /* border-radius: 4px; */
  border: solid #d32f2f 1px;
  transition: 0.5s;
}

.button-resume:hover {
  background-color: white;
  color: #d32f2f;
}

.social-media-list {
  margin-left: -10%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.media-links {
  text-align: center;
  display: block;
  color: black;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 40px;
  height: 38px;
  margin: 0 10px;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 50%;
}
/* .media-links::before {
  content: "";
  width: 40px;
  color: #fff;

  height: 0px;
  position: absolute;
  text-align: center;
  display: block;
  border-radius: 50%;
  transition: 0.5s;
} */
.media-links:hover {
  /* background-color: #d32f2f; */
  color: white;
  background-color: #d32f2f;
  /* transform: rotateY(360deg); */
}
.media-links:hover::before {
  background-color: #d32f2f;
  height: 38px;
  transform: rotateY(360deg);
}

.icon {
  z-index: 2;
}
/* ul {
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
   position: relative; 
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
/*
ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #3b5999;
}

ul li:nth-child(2) a:before {
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #3b5999;
} */
